body {
    font-family: 'Young Serif', serif;
}

*{
    padding: 0px;
    margin:0px;
}
.container{
    padding: 20px;
    margin: 20px;
}
.section-one{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-one__title{
    font-size: 60px;
  
}
.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}
.section-one a{
    background-color: orangered;
    color: white;
    padding-left: 10px ;
    padding-right: 10px;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
}
.section-two,.section-three,.section-four,.section-five{
    padding-top: 20px;
}
.section-two__desc{
    margin-bottom: 20px;

}
.section-five{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 20px;
}
.section-three__desc,.section-four__desc {
    list-style: none;


}
.section-five__title a{
    color: skyblue;
}
.section-three{
    background-color: #6462FD;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    vertical-align: top;
    border-radius: 10px;
}
.section-four{
    background-color: #FE7517;
    color: black;
    padding: 20px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;

}
.contact-form{
    margin-top: 20px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
   
    margin-top: 10px;
}
.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom:solid black 1px;
}
.contact-form__textarea{
    padding: 10px;
    border: none;
    border:solid black 1px;
}
.contact-form__submit{
    background-color: #FE7517;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
}